body {
  font-family: "Ubuntu", Helvetica, Arial;
  font-weight: 200;
  font-size: 16px;
  color: #333333;
  padding: 35px;
  background: radial-gradient(circle, #ffffff 33.33333333333333%, transparent 33.33333333333333%), radial-gradient(circle, rgba(174, 167, 159, 0.075) 33.33333333333333%, #ffffff 33.33333333333333%) 4px 4px;
  background-size: 8px 8px;
}
a {
  transition: all 0.5s;
}
a:link {
  color: #999;
  text-decoration: none;
}
a:visited {
  color: #999;
  text-decoration: none;
}
a:active {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #666;
  text-decoration: none;
}
hr {
  border: none;
  height: 1px;
  background-color: #aea79f;
  width: 90%;
  margin: 35px auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
  font-weight: 400;
}
h1 {
  font-weight: 200;
  font-size: 64px;
  color: #aea79f;
}
h2 {
  font-weight: 200;
  font-size: 52px;
  color: #aea79f;
}
h3 {
  font-size: 36px;
  color: #333333;
}
h4 {
  font-size: 32px;
  color: #333333;
}
h5 {
  font-size: 26px;
  color: #333333;
  font-weight: 800;
}
h6 {
  font-size: 22px;
  color: #333333;
  font-weight: 800;
}
code {
  font-family: "Ubuntu Mono", "Ubuntu", monospace;
  padding: 10px 15px;
  background: #dd4814;
  color: #ffffff;
  font-weight: 400;
  line-height: 2em;
}
pre {
  background: #dd4814;
  color: #ffffff;
  font-weight: 400;
  padding: 35px;
  transition: all .5s;
}
pre code {
  background: none;
  color: inherit;
  white-space: pre-line;
}
img {
  max-width: 100%;
}
